.about-us {
	display: flex;
	align-items: center;
	margin: 0 $separation;

	@include phone {
		margin: 0;
	}

	@include tablet {
		flex-direction: column;
	}

	&__text {
		margin-left: $separation;

		@include tablet {
			flex: 1;
			margin: 0;
		}
	}

	h4 {
		font-weight: $bold;
	}
}
